.about-strong{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: #3858D6;
    margin-left: 406px;
    margin-bottom: 6px;
}
.about-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 43.57px;
    text-align: center;
    color: #1E1D1D;
    margin-bottom: 55px;
}
.about-wrapper{
    display: flex;
    align-items: center;
    gap: 47px;
}
.wrapper-about{
    width: 524px;
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 28px;
    background-color: #F6F6F6;
    border-radius: 12px;
    margin-bottom: 42px;
}
.about-subtitle{
    color: #1E1D1D;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    margin-bottom: 10px;
}
.about-text{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: #8B8E99;
    margin-bottom: 9px;    
}
.dots-img{
    margin-left: 477px;
    margin-bottom: 135px;
}